<div class="section">
	<h1>Clicks</h1>
	<Table class="section" summary="Click List">
		<tr class "header">
			<th>Click ID</th>
			<th>Link Name</th>
			<th>Ref URL</th>
			<th>Ref IP</th>
			<th>Ref Browser</th>
			<th>Ref OS</th>
			<th>Ref Platform</th>
			<th>Ref Keyword</th>
			<th>Sale?</th>
			<th>Real Click?</th>
			<th>Time</th>
		</tr>
		<% @clicks.each do |click| %>
		<tr>
			<td><%= click.id %></td>
			<td><%= click.link.name %></td>
			<td><%= truncate(click.ref_url, :length => 25, :omission => '...')%></td>
			<td><%= click.ref_ip %></td>
			<td><%= click.ref_browser %></td>
			<td><%= click.ref_os %></td>
			<td><%= click.ref_platform %></td>
			<td><%= click.ref_keyword %></td>
			<td><%= click.sale %></td>
			<td><%= click.real_click %></td>
			<td><%= click.created_at %></td>
		</tr>
		<% end %>
	</Table>

</div>	
