<!DOCTYPE html>
<html>
<head>
	<% if not  @link.nil? %>
	<%= raw @link.affiliate.remarketing_code %>  
	<% end %>
	
  <title><% if not  @link.nil? %> <%= @link.name %> | <%= @click_id %>  <% end %> </title>
	<% if not  @link.nil? %>
	<% if @link.affiliate_id == 1 %>
	<meta http-equiv="refresh" content="0;URL='http://www.awin1.com/cread.php?awinmid=3253&awinaffid=102971&clickref=<%= @click_id %>&p=<%= @link.url %>'" /> 
	<% end %>
	<% if @link.affiliate_id == 2 %>
	<meta http-equiv="refresh" content="0;URL='http://clkuk.tradedoubler.com/click?p(19045)a(1966660)g(16898338)epi(<%= @click_id %>)url(<%= @link.url %>)'" />
	<% end %>
	<% end %>
	

</head>
<body>

<%= yield %>

</body>
</html>
